# Dependencias locales (NUNCA deben subirse a la imagen)
node_modules
npm-debug.log

# Variables de entorno y secretos
.env
.env.production
.env.local

# Git
.git
.gitignore

# Docker (Archivos de configuración del build)
Dockerfile*
docker-compose*
.dockerignore

# Otros (Basura de sistema o editores)
.DS_Store
Thumbs.db
.vscode
README.md